<ion-view>

  <ion-header-bar class="bar-assertive-900">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
          <button class="button button-icon button-clear ion-chevron-left" ng-click="backButtonHandler()"></button>
      </span>
    </div>
    <label class="item item-input">
      <i class="icon ion-edit placeholder-icon"></i>
      <input type="text" placeholder="Nome da Lista" ng-model="lista.nome" required>
    </label>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <div class="item item-checkbox" ng-repeat="linha in linhas">
        <label class="checkbox">
          <input type="checkbox" ng-model="linha.selected">
        </label>
        {{linha.nome}}
      </div>
    </div>
    <button ng-click="save()" class="button button-fab button-fab-bottom-right button-energized-900"><i class="icon ion-checkmark"></i></button>
  </ion-content>

</ion-view>
