<ion-view>

  <ion-header-bar class="bar-header bar-assertive-900">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Nome da Lista ou Linha" ng-model="filtro">
    </label>
  </ion-header-bar>

  <ion-content>
    <div class="tabs tabs-assertive" style="position: static; margin-bottom: 15px;">
      <a class="tab-item" ng-class="{'tab-item-active': view == 'listas'}" ng-click="view = 'listas'">Listas</a>
      <a class="tab-item" ng-class="{'tab-item-active': view == 'linhas'}" ng-click="view = 'linhas'">Linhas</a>
    </div>

    <div ng-switch="view">

      <div ng-switch-when="listas">
        <ion-list>
          <ion-item class="item" ui-sref="list({id: lista.id})" ng-repeat="lista in listas | filter:filtro">
            {{lista.nome}}
          </ion-item>
        </ion-list>
        <button ng-click="createList()" class="button button-fab button-fab-bottom-right button-energized-900"><i class="icon ion-plus"></i></button>
      </div>

      <div ng-switch-when="linhas">
        <ion-list>
          <ion-item class="item" ui-sref="line({id: linha.id})" ng-repeat="linha in linhas | filter:filtro">
            {{linha.nome}}
          </ion-item>
        </ion-list>
      </div>

    </div>
  </ion-content>

</ion-view>
