<ion-view>

  <ion-header-bar class="bar-assertive-900">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
          <button class="button button-icon button-clear ion-chevron-left" ng-click="backButtonHandler()"></button>
      </span>
    </div>
    <div class="h1 title title-left light">{{linha.nome}}</div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <div class="item" ng-repeat="h in horarios">
        {{h.horario | date:'HH:mm'}}
      </div>
    </div>
  </ion-content>

</ion-view>
