<ion-view>

  <ion-header-bar class="bar-assertive-900">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
          <button class="button button-icon button-clear ion-chevron-left" ng-click="backButtonHandler()"></button>
      </span>
    </div>
    <div class="h1 title title-left light">{{lista.nome}}</div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
          <button ng-click="showPopover($event)" class="button button-icon button-clear ion-android-more-vertical"></button>
      </span>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <div class="item" ng-repeat="h in horarios">
        {{h.linha}}
        <span class="badge badge-assertive">
          {{h.horario | date:'HH:mm'}}
        </span>
      </div>
    </div>
  </ion-content>

</ion-view>

<script id="list-popover.tpl.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" ng-click="editList()">Editar</a>
        <a class="item" ng-click="promptRemoveList()">Excluir</a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
