/* Empty. Add your own CSS if you like */
.bar-header input[type=text],
.bar-header .icon {
  color: white;
}

.bar-header .item-input,
.bar-header input[type=text] {
  border: transparent;
}

.popover {
  height: auto !important;
}

.popover ion-content {
  top: 0;
  position: relative;
}
